.account {
    padding: 0 5%;
    &__banking {
        &-top {
            margin-top: 0;
        }
        &-bottom {
            margin-bottom: 0;
        }
        border-top: 0.8px solid black;
        border-bottom: 0.8px solid black;
        &-text {
            color: $Vancity;
            margin: 12px 0 0 0;
        }
        &-textnum {
            margin: 0 0 12px 0;
        }
        &-chequings {
            display: flex;
            justify-content: space-between;
        }
    }
    &__graph {
        &-container {
            padding-top: 4%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.bottom {
    margin-top: 15px;
}
.money__container {
    display: flex;
    align-items: center;
}
.money__text {
    padding-bottom: 22px;
    margin: 0;
}