.confirm {
    &__button {
        font-size: 18px;
        border:none;
        height: 48px;
        width: 335px;
        border-radius: 8px;
        margin-bottom: 16px;
    }
    padding: 0 20px;
    &__heading {
        font-size: 18px;
        padding-bottom: 16px;
        border-bottom: 1px solid black;
    }
    &__settings {
        &-heading {
            margin: 32px 0 8px 0;
            color: $Vancity;
            font-size: 16px;
        }
        &-text {
            font-size: 14px;
            margin: 8px 0 27px 0;
        }
    }
}
.white-btn {
    border: 2px solid $Vancity;
    color: $Vancity;
    background-color: white;
}
.btn {
    margin-top: 64px;
    background-color: $Vancity;
    color: white;

}