.graph {
    margin: 0 20px;
    &__text {
        font-size: 14px;
        font-weight: medium;
    }
    &__reward {
        &-container {
            margin-top: 16.5px;
            display: flex;
            justify-content: center;
        }
        &-text {
            font-size: 12px;
            color:$Vancity;
            text-align: center;
            text-decoration: none;
        }
    }
    &__date {
        font-size: 12px;
        font-weight: normal;
        margin: 0;
        text-align: center;
    }
}