.roundup {
    padding: 0 20px;
    &-text {
        font-size: 14px;
        font-weight: normal;
    }
    &-one {
        margin-right: 10px;
    }
    &__save {
        &-container {
            display: flex;
            justify-content: center;
            margin-bottom: 28%;
        }
        &-button {
            font-size: 18px;
            background-color: $Vancity;
            color: white;
            width: 335px;
            height: 48px;
            border: none;
            border-radius: 8px;
            text-align: center;
            outline: none;
        }
    }
    &__savings {
        text-align: center;
        font-size: 24px;
        &-heading {
            font-size: 12px;
            text-align: center;
        }
    }
    &__categories {
      
        &-button {
            &-selected {
                background-color: red;
                color: white;
            }
            padding: 0 12px;
            outline: none;
            font-size: 14px;
            background-color: white;
            color: black;
            height: 32px;
            max-width: 135px;
            border:none;
            border-radius: 10px;
            border: solid 2px $Vancity;
            margin: 4px 4px;
            
        }
        &-container {
            margin: 0 20px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__amount {
        &-input {
            margin-top: 16px;
            border: 2px solid $Grey;
            width: 104px;
            height: 35px;
            text-indent: 20px;
            outline: none;
            border-radius: 10px;
            &-container {
                display: flex;
                justify-content: center;
            }
        }
        &-button{
            outline: none;
            border: none;
            width: 104px;
            height:62px;
            background-color: white;
            border:2px solid $Vancity;
            border-radius: 10px;
            color: black;
            margin-right:  6px;
            box-sizing: border-box;
        }
      
    }
    &__button {
        border: none;
        width: 43vw;
        height: 32px;
        border-radius: 8px;
        color: white;
        background-color: #807E7E;
        outline: none;
        &-red {
            background-color: red;
            color: white;
        }
    }
    &-heading {
        font-size: 16px;
    }
}

.end {margin-left: 0;}
.radio {
    margin-left: 41px;
}