@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.account {
  padding: 0 5%;
}

.account__banking {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  padding: 16px 0;
}

.account__banking-top {
  margin-top: 0;
}

.account__banking-bottom {
  margin-bottom: 0;
}

.account__banking-text {
  color: #CA1905;
  margin: 0;
}

.account__banking-textnum {
  margin: 0;
}

.account__banking-chequings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account__graph-container {
  padding-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  margin-top: 15px;
}

.money__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.money__text {
  padding-top: 5px;
  margin: 0;
}

.home__icon {
  color: white;
  cursor: pointer;
}

.home__signup {
  height: 19.45vh;
  background-color: #CA1905;
  width: 100%;
}

.home__signup-button {
  width: 42%;
  border: none;
  height: 29px;
  border-radius: 10px;
  font-size: 16px;
}

.home__signup-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home__signup-button-create {
  color: #CA1905;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.home__signup-button-learn {
  background-color: #807E7E;
  color: white;
}

.home__signup-text {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.home__signup-text-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
}

.home__banner {
  margin: 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__banner-icon {
  margin-right: 4%;
}

.home__header {
  position: relative;
  background-color: #CA1905;
  height: 12.32vh;
  width: 100%;
}

.home__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home__header-heading {
  margin: 0;
  color: white;
  font-size: 22px;
}

.home__header-nav {
  position: absolute;
  left: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: solid black 0.8px;
  padding-top: 10px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item--active {
  color: red;
}

.nav__item-image {
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin-bottom: 5px;
}

.nav__item-image--active {
  -webkit-filter: invert(0.5) sepia(1) saturate(150) hue-rotate(2deg);
          filter: invert(0.5) sepia(1) saturate(150) hue-rotate(2deg);
}

.nav__item-text {
  margin: 0;
  font-size: 12px;
}

body {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=main.css.map */