@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "./partials/variables";
@import "./partials/account";
@import "./partials/home";
@import "./partials/nav";
@import "./partials/roundup";
@import "./partials/confirm";
@import "./partials/graph";
@import "./partials/rewards";
@import "./partials/spending";
@import "./partials/login";

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

canvas {
    margin: 0 auto;
}
.canvasjs-chart-canvas {
    left: 5%;
}
.canvasjs-chart-credit {
    display: none;
}